:root {
  font-family:
    Kalam,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  --bg: #1a1b26;
  --fg: #ccd1e3;
  background-color: var(--bg);
  color: var(--fg);
}

.container {
  padding-inline: 10px;
}
